
.keyboard {
  margin-right: auto;
  padding: 0;
  list-style: none;
  box-shadow: 0px 3px 5px #000;
  -moz-box-shadow: 0px 3px 5px #000;
  -webkit-box-shadow: 0px 3px 5px #000;
}

.keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 2px solid #A9A9A9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
    box-shadow: 0px 3px 5px #000;
  -moz-box-shadow: 0px 3px 5px #000;
  -webkit-box-shadow: 0px 3px 5px #000;
}

.capslock, .tab, .left-shift {
  clear: left;
}

.keyboard .tab, .keyboard .delete {
  width: 70px;
}

.keyboard .capslock {
  width: 80px;
}

.keyboard .return {
  width: 77px;
}

.keyboard .left-shift {
  width: 95px;
}

.keyboard .right-shift {
  width: 109px;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

.keyboard .space {
  clear: left;
  margin-left: 120px;
  width: 360px;
}

.on {
  display: none;
}

.keyboard li:hover {
  position: relative;
  top: 3px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
  color: #767676;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  border: 1px solid #767676;
}

#slow {
  background-color: #B22222;
  border: 2px solid black;
  color: white;
}
